@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-background-page: #f7f5f0;
  --color-background-header: #3a3f58;
  --color-background-card: #ffffff;
  --color-text: #222222;
  --color-text-inverted: #ffffff;
  --color-accent: #dd6b20;
  --color-link: var(--color-accent);

  --font-family-base: "Roboto", sans-serif;
  --font-family-heading: "Roboto Slab", serif;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
}

body.dark-mode {
  --color-background-page: #1c1e21;
  --color-background-header: #2c3040;
  --color-background-card: #262a34;

  --color-text: #e7e7e7;
  --color-text-inverted: #fafafa;
}
